*, *::before, *::after
{
	box-sizing: border-box;
}
 body
 {
 	padding: 0;
 	margin: 0;
 }

@keyframes transition-timing-function: {
	from {
     opacity:0;
     transform: rotateX(-10deg);
	}

	to{
     opacity:1;
     transform: rotateX(0);
	};
}

/*navigation*/ 
 nav
 {
 	position: fixed;
 	z-index: 10;
 	left: 0;
 	right: 0;
 	top: 0;
 	font-family: 'Roboto',sans-serif;
 	background-color: white;
 	padding: 1% 5%;
 }

 nav .logo
 {
 	float: left;
 	width: 80px;
 	height: 120px;
 	display: flex;
 	align-items: center;
 }

 nav .links
 {
 	float: right;
 	padding: 0;
 	margin-top: 40px;
 	width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 nav .links li
 {
 	list-style: none;
 	font-weight: normal;
 }

 nav .links a
 {
 	display: block;
 	padding: .5em;
 	font-size: 17px;
 	color: #bd9d76;
 	text-decoration: none;
 }

#order
{
	border:1px solid #bd9d76;
}
 #order:hover
 {
 	transition: .2s ease-in-out;
 	color: white;
 	background-color: #264653;
 }

nav .links a:hover
 {
 	transition: .2s ease-in-out;
 	color: #345161;
 }
/*toggle bar*/

#toggle
{
	position: absolute;
	top: -100px;
}
nav .icon-burger
{
   display:none;	
   position: absolute;
   right: 7%;
   top: 50%;
   transform: translateY(-50%);
}
nav .icon-burger .line
{
  width: 30px;
  height: 3px;
  background-color: #bd9d76;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

/*banner*/


.banner{   
	margin: 0 auto;
	position: relative ;

}

.banner img
{
    width:90%;
    display: block;
    margin: 0 auto;
    height: 700px;
}

.hero-text
{   
	color: white;
	position: absolute;
	top: 55%;
	left: 15px;
	width: 100%;
	text-align: center;
	font-size:26px;
	font-weight: bold;
	font-family: 'Roboto Mono', sans-serif;
}

.banner h1
{
	color: white;
	position: absolute;
	top: 45%;
	left: 8px;
	width: 100%;
	text-align: center;
	font-size:50px;
	font-weight: bold;
	font-family: 'Roboto Mono', sans-serif;
}

span hr
{
   width: 30%;
   background-color: #bd9d76;

}


/*about container*/
.about-container
{
	width: 100%;
	height: 400px;
}

.about-text h2
{
	    
	   animation: transitionIn .7s;
    

	font-family: 'Roboto Mono', sans-serif;
	color:#345161;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
	padding-top: 10%;
}
 .about-text p
 {
 	font-family: 'Roboto Mono', sans-serif;
	color: #345161;
	font-size: 20px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
 }

 .about-button 
 {
 	width: 50%;	
	margin-left: 5%;
    border:2px solid #bd9d76;
	
	padding: 5px;
	color: #345161;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    
 }
.about-button:hover
{
	background-color: #264653;
	transition: .2s ease-in-out;
    color:white;
} 

 
.img1 
{
	width: 50%;
	height: 500px;
	float: right;
	margin-right: 5%;
}



/*menu banner*/
.menu-container
{
	margin:0 auto;
	width: 100%;
	position: relative;

}


.menu-banner1 
{
   text-align: center;
   align-items: center;
   
}

.menu-banner1 h2
{  
   font-family: 'Roboto Mono', sans-serif;
	color: #345161;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;
	margin-top: 12%;		
}
.menu-banner2
{
	display: block;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    position: relative;
}

.svg1
{
margin: 0 10% 0 10%;
}
.menu-button
{
	border:2px solid #bd9d76;

	padding: 2px 30px;
	font-size: 20px;
	width: 500px;
	margin-top: 20px;
	color: #345161;
	text-decoration: none;
    font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

.menu-button:hover
{	

	background-color: #264653;
	transition: .2s ease-in-out;
    color:white;
}  

#dish-button1, #dish-button2, #dish-button3 
{
    position: absolute;
	top: 55%;
	border:2px solid #bd9d76;
	background-color: rgba(0,0,0,.5);
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 5px 20px;
	font-size: 24px;
	font-family: 'Roboto Mono', sans-serif;
}

#dish-button1
{
	left: 15%;
}

#dish-button2
{
	left: 45.5%;
}

#dish-button3
{
	left: 75.5%;
}

/*blog container*/
.blog-container
{
	width: 100%;
	height: auto;
}
.blog-text
{
	display: block;
	float: right;
	margin-top: 10%;
	margin-right: 5%;
	padding: 10px;
	width: 40%;
}

.blog-text h2
{
   font-size: 40px;
   color:  #345161;
   font-family: 'Roboto Mono',sans-serif;
   font-weight: lighter;
}

.blog-text p
{
   font-size: 20px;
   color:#345161;

   font-family: 'Roboto Mono',sans-serif;
   font-weight: lighter;
}
.blog-button
{
   font-size: 16px;
   color:  #345161;
   font-family: 'Roboto Mono',sans-serif;
   font-weight: lighter;
   text-transform: uppercase;
   border:2px solid #bd9d76;

   text-decoration: none;
   padding: 2px 15px;
}

.blog-button:hover

{
	background-color: #264653;
	transition: .2s ease-in-out;
    color:white;
} 

 
.img2 
{
	width: 50%;
	height: 500px;
    margin-left: 5%;
    text-align: center;
    margin-top: 5%;
}

.reservations img
{
	display: block;
	margin: 0 auto;
	position: relative;
	height: 500px;
	margin-top: 5%;
	width: 90%;
}
.reservations h2
{   
	color: white;
	position: absolute;
	margin-top: -30%;
	margin-left: 38%;
	font-size: 45px;
	font-weight: lighter;
	font-family: 'Roboto mono', sans-serif;
	
}

.res-form
{
	color: white;
    text-align: left;
   position: absolute;
   margin-top: -30%;
   margin-left: 28%;
   padding-top:7%;

}

#name, #date, #size, #time
{
	font-family: 'Roboto Mono', sans-serif;
    color: #345161;
	width: 30%;
	padding:10px 10px;
	margin-bottom: 10px;
	font-size: 18px;
    border:none;
    margin-left: 5%;
}

#book
{
	  font-family: 'Roboto Mono', sans-serif;
     margin-left: 25%;
	font-size: 24px;
	padding: 5px 40px;
	background-color: transparent;
	border-radius: 5px;
	color: #bd9d76;
	font-weight: lighter;
	border:2px solid #bd9d76;

}
#book:hover
{
	background-color: #264653;
	transition: .2s ease-in-out;
    color:white;
} 

.footer-container
{
	width: 100%;
	background-color: #bd9d76;
	display: block;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-container h3
{
	font-family: 'Roboto';
	color: #264653;
}
.footer-container p
{
	color: white;
	margin: 0 auto;
	margin-left: 0;
}
.col1
{
	flex:40%;
	max-width: 40%;
	padding: 15px 15px 15px 50px;
}

.col2
{
   flex:20%;
   max-width: 20%;
   padding: 15px;
}

.col2 i
{
	font-size: 28px;
	width: 30%;
	align-items: center;
	color: white;
	margin-top: 50%;
}

#mail
{
	border:none;
  padding:10px 10px;
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
}

#submit
{
	margin-top: 3%;
	border:2px solid #bd9d76;
	background-color: rgba(0,0,0,.5);
	font-family: 'Roboto mono', sans-serif;
	color: white;
	text-transform: uppercase;
}


   



@media screen and (max-width: 1077px)
{

 nav .links a
 {
 	padding: .3em;
 	font-size: 16px;
 }
  .menu-container img
  {
    width: 250px;
  }

  #dish-button1, #dish-button2, #dish-button3 
{
    top: 50%;
	padding: 5px 15px;
}

#dish-button1
{
	left: 10%;
}

#dish-button2
{
	left: 45.5%;
}

#dish-button3
{
	left: 78%;
}


  .reservations h2
  {
  	margin-top: -35%;
  }
  .res-form
  {
  	margin-top: -35%;
  }
  .dish-button1
{
	position: absolute;
	top: 50%;
	left: 12%;
}

.dish-button2
{
	position: absolute;
	top: 50%;
	left: 47%;
}

.dish-button3
{
	position: absolute;
	top: 49%;
	left: 79%;
}

}

@media screen and (max-width: 995px)
{
.col
{
	flex:33.33%;
	max-width: 33.33%;
	padding: 10px;
}

.testimonial
{
	padding: 25px;
}

.testimonial i
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

 nav .logo
 {
 	float: left;
 	width: 70px;
 	height: 90px;
 	display: flex;
 	align-items: center;
 }   
.img1 
{
	width: 50%;
	height: 450px;
	float: right;
	margin-right: 5%;
}
.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;
	font-size: 38px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
}

 .about-button
 {
 	width: 50%;	
	margin-left: 5%;
	border:2px solid rgba(242, 208, 164,.5);
	padding: 5px;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    background-color: rgba(242, 208, 164,.7);

 }

 .menu-banner1 h2
{  
   font-family: 'Roboto Mono', sans-serif;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
   	align-items: center;	
   margin-top: 10%; 
}

.menu-container img
{
	width: 200px;
}
  #dish-button1, #dish-button2, #dish-button3 
{
    top: 50%;
    font-size: 20px;
	padding: 5px 15px;
}

#dish-button1
{
	left: 15%;
}

#dish-button2
{
	left: 45.5%;
}

#dish-button3
{
	left: 75%;
}


	nav .links
	{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.7);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}

	nav .links a
	{
		font-size: 20px;
	}

   	nav :checked ~ .links
	{
		bottom: 0;
	}

     nav .icon-burger
     {
   	    display: block;
     }
     
      nav :checked ~ .icon-burger .line:nth-child(1)
     {
   	   transform: translateY(10px) rotate(225deg);
     }
     
      nav :checked ~ .icon-burger .line:nth-child(3)
     {
   	   transform: translateY(-10px) rotate(-225deg);
     }
      
     nav :checked ~ .icon-burger .line:nth-child(2);
     {
   	   opacity: 0;     
   	}  
     

	.banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:90%;
	    height: 600px;
	}

    h1
    {

    color: white;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size:50px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
    
    .hero-text
   {   
	color: white;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size:35px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}


.img2 
{
	height: 450px;
}
.blog-text
{
	margin-top: 10%;
}
.blog-text h2
{
	font-size: 38px;
}

.col1
{
	flex: 35%;
	max-width: 35%;
}
.col2
{
	flex: 21.66%;
	max-width: 21.66%;
}

@media screen and (max-width: 860px)
{
	.col1
	{
		flex: 30%;
		max-width: 30%;
	}

	#mail
	{
		padding: 5px;
		width: 80%;
	}

	.col2
	{
		flex: 23.33%;
		max-width: 23.33%;
		padding: 15px;
	}
	.col
{
	flex:33.33%;
	max-width: 33.33%;
	padding: 12px;
}

.testimonial
{
	padding: 22px;
}

.testimonial i
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.name
{
	font-size: 18px;
	text-transform:uppercase;
	margin: 15px 0; 
}

	.reservations h2
  {
  	margin-top: -40%;
  	margin-left: 35%;
  }
  .res-form
  {
  	margin-top: -39%;
  }
  #name, #num, #date, #size
{
	font-size: 16px;   
}


#ph, #time
{
	  
	font-size: 14px;
}

  #book
  {
  	margin-left: 23%;
  }
#dish-button1
{
	left: 10%;
}

#dish-button2
{
	left: 45.5%;
}

#dish-button3
{
	left: 78%;
}


}
@media screen and (max-width: 755px)
{
.col2
{
	padding: 10px;
}
.col
{
	flex:100%;
	max-width: 100%;
	padding: 20px;
}

.testimonial
{
	padding: 10px;
}

.testimonial i
{
	width: 50px;
	height: 50px;
	border-radius: 10%;
}
.inner h2
{
	font-size: 36px;
	font-weight: lighter;
}

.inner p
{
	font-size: 20px;
}

.testimonials
{
	padding: 40px 0 10px 0;
}
	.reservations img
	{
		height:450px;
		width: 90%;
		margin: 0 auto;
	}
	.reservations h2
  {
  	margin-top: -50%;
  	margin-left: 33%;
  	font-size: 36px;
  }
  .res-form
  {
  	margin-top: -48%;
  }
  #num, #name, #size
  {
  	font-size: 14px;
  }
  #book
  {
  	margin-left: 25%;
    padding: 5px 10px;
  	font-size: 20px;
  }
 nav .logo
 {
 	float: left;
 	width: 60px;
 	height: 80px;
 	display: flex;
 	align-items: center;
 }
	  #dish-button1,#dish-button3 
{
    top: 50%;
    font-size: 18px;
	padding: 5px 10px;
}


#dish-button1
{
	left: 13%;
}

#dish-button2
{
	padding: 5px;
	font-size: 16px;
	left: 46%;
}

#dish-button3
{
	left: 75%;
}



.hero-text
{
	font-size: 32px;
}
.img1 
{
	width: 50%;
	height: 350px;
	float: right;
	margin-right: 5%;
}

.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;

	font-size: 28px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
}

.about-text p
{
	font-size: 18px;
}

 .about-button
 {
 	width: 50%;	
	margin-left: 5%;
	border:2px solid rgba(242, 208, 164,.5);
	padding: 5px;
	
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: lighter;
    background-color: rgba(242, 208, 164,.7);

 }
.menu-banner1 h2
{  
   font-family: 'Roboto Mono', sans-serif;
	
	font-size: 36px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;	
	margin-top: 20px;
 	
}

	.menu-banner2 img
	{
		margin-top: 10px;
		width: 150px;
	}
}

.img2 
{
	height: 350px;
	margin-bottom: 5%;
}
.blog-text h2
{
	font-size: 28px;
}
.blog-text p
{
	font-size: 18px;
}
.blog-button
{
	font-size: 14px;
}

 @media screen and (max-width: 590px)
 
 {
 	.col1
 	{
      flex: 60%;
      max-width: 60%;
 	}
    
    .col2
    {
    	flex: 30%;
    	max-width: 30%;
    }
 	.inner h2
{
	font-size: 32px;
	font-weight: lighter;
}

.inner p
{
	font-size: 20px;
}

 	.name
{
	font-size: 16px;
	text-transform:uppercase;
	margin: 10px 0; 
}

.stars
{
	margin-bottom: 15px;
}

 .col
{
	flex:100%;
	max-width: 100%;
	padding: 10px;
}

.testimonial
{
	padding: 10px;
}

.testimonial i
{
	width: 50px;
	height: 50px;
	border-radius: 10%;
}

.inner h2
{
	font-size: 28px;
	font-weight: lighter;
}

.inner p
{
	font-size: 18px;
}

  .reservations img
  {
  	height: 400px;
  }
  .reservations h2
  {
  	font-size: 28px;
  	margin-top: -55%;
  }
  .res-form 
  {
  	margin-top: -54%;
  }
  #num, #name, #date, #size, #ph
  {
     font-size: 12px;
     padding:10px 0;
  }

   #time, #ph
   {
   	width: 15%;
   	font-size: 12px;
   }
   #book
   {
   	font-size: 16px;
   }
 nav .logo
 {
 	float: left;
 	width: 55px;
 	height: 80px;
 	display: flex;
 	align-items: center;
 }
 
 #dish-button1, #dish-button3
 {
 	font-size: 16px;
 	  padding: 0 5px;

 }
 #dish-button2
 {
 	font-size: 14px;
 	left: 45%;
 	top: 51%;
  padding: 0 5px;
}
.menu-button
{
	padding: 2px 30px;
	font-size: 20px;
	text-decoration: none;
    font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
	margin-top:50%;
}
.menu-banner2 img
{
	width: 120px;
}

.menu-banner1 h2
{

   font-family: 'Roboto Mono', sans-serif;	
	font-size: 28px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;
	margin-top:-10%;
}

       
.img1 
{
	width: 50%;
	height: 300px;
	float: right;
	margin-right: 5%;
}

.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;
		font-size: 20px;
    line-height: 95%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
	margin-top: 5%;
}
.about-text p
 {
 	font-family: 'Roboto Mono', sans-serif;
	
	font-size: 16px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
 }

 .about-button
 {
 	width: 50%;	
    margin-left: 5%;
	
	padding: 3px;
	
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    

 }

   .banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:90%;
	    height: 470px;
	}

    .banner h1
    {

    color: white;
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	font-size:40px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
    
    .hero-text
  {   
	color: white;
	position: absolute;
	top: 54%;
	width: 100%;
	text-align: center;
	font-size:24px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
   }

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 32px;
	width: 160px;
	position: absolute;
	top: 60%;
	left: 35%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}
	

.img2 
{
	height: 300px;
}
.blog-text h2
{
	font-size: 20px;
}
.blog-text p
{
	font-size: 16px;
}
.blog-button
{
	font-size: 12px;
 }   
}

@media screen and (max-width: 484px)
 {
 	.col1
 	{
 		flex: 100%;
 		max-width: 95%;
 	}

 	.col2 i
 	{
 		margin: 10px 0;
 	}

 	.col2
 	{
      flex: 100%;
      max-width: 95%;
      text-align: center;
 	}
 	
 	.testimonial i
{
	width: 50px;
	height: 30px;
	border-radius: 10%;
}

    .testimonials{
	padding: 20px 0;
}

.inner
{
	
	margin:0 auto;
	overflow: hidden;
	padding:0 20px;
}

.border
{
	width: 160px;
	height: 5px;
	margin: 16px auto;
}

  .reservations img
  {
  	margin-top: 5%;
  	height: 400px;
  }
  .reservations h2
  {
  	margin-top: -75%;
  	font-size: 24px;
  	color: black;
  }
  .res-form
  {
  	margin-top: -70%;
  }
  #name, #date
  {
  	width: 70%;
  	margin-left: 10px;

  }
  #num, #size
  {
  	width: 38%;
  }
  #ph, #time
  {
  	width: 30%

  }
  #book
  {
  	font-size:14px;
  	margin-top: -50%;
  }
 nav .logo
 {
 	float: left;
 	width: 50px;
 	height: 75px;
 	display: flex;
 	margin-top: 5px;
 	align-items: center;
 }
 	.dish-button1
{
	position: absolute;
	top: 55%;
	left: 13.5%;
}

  .about-container
  {
  	display: flex;
  	flex-direction: column-reverse;
  	width: 100%;
  }

  .about-text 
  {
  	height: 100%;
  	text-align: center;
  }
  .about-text h2
  {
  	font-size: 28px;
  	width: 90%;
  	display: block;
  	margin: 0 auto;
  	text-align: center;
  	margin-top: 20%;
  }
   .about-text p
   {
   	font-size: 18px;
   	width: 100%;
   	text-align: center;
   	display: block;
   	margin-left:auto;
   	margin-right: auto;
   }

   .about-button
   {
   	font-size: 12px;
    margin: 0 auto;

   }
  
  .img1
  {
  	height: 200px;
    width: 95%; 
    padding-top: 20px;
  
    margin: 0 auto;
    }

    .menu-banner1 h2
    {
     margin-top: 10%;
    }

   
   .menu-banner2 img
   {
     width: 50%;
     height: 150px;
     margin-top: 40px;
     margin-bottom: 5%;
   }

   #dish-button1
   {
   	top: 16%;
   	left: 41%;
   	padding: 0 10px;
   	font-size: 18px;
   }

   #dish-button3
   {
   	top: 82%;
   	left: 41%;
   	padding: 0 10px;
   	font-size: 18px;
   }
  
.banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:90%;
	    height: 380px;
	}
 .banner h1
    {

    color: white;
	position: absolute;
	top: 42%;
	width: 100%;
	text-align: center;
	font-size:36px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
 
 .hero-text
{   
	color: white;
	position: absolute;
	top: 52%;
	width: 100%;
	text-align: center;
	font-size:20px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 28px;
	width: 110px;
	position: absolute;
	top: 70%;
	left: 33.5%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

   .blog-container
   {
   	display: flex;
   	flex-direction: column;
   }	

   .blog-text
   {
   	width: 100%;
   	text-align: center;
   	margin: 0 10px;
   }
   .img2
   {
   	height: 200px;
    width: 95%;
    align-items: center;
    margin: 0 auto;
   }	
   .blog-text h2
   {
   	font-size: 30px;
   	text-align: center;
   	padding-left: 10px;
   }
   .blog-text p
   {
   	font-size: 18px;
   	text-align: left;
   }
 }   
@media screen and (max-width: 385px)
{
  
.inner h2
{
	font-size: 24px;
	font-weight: lighter;
}

.inner p
{
	font-size: 18px;
}

  .reservations img
  {
  	height: 400px;
  }
  .reservations h2
  {
  	margin-top: -90%;
    margin-left: 25%;
  	font-size: 28px;
  	color: black;
  }
  .res-form
  {
  	margin-top: -85%;
  }
  #name, #date
  {
  	width: 70%;
  	margin-left: 10px;

  }
  #num, #size
  {
  	width: 38%;
  }
  #ph, #time
  {
  	width: 30%

  }
  #book
  {
  	font-size:14px;
  	margin-left: 23%;
  	padding:2px 5px;
  }
 
	.banner img
	{
      height: 350px;
	}

	h1
    {
	top: 42%;
	width: 100%;
	font-size:36px;
	}
 
 .hero-text
{   
	top: 55%;
	width: 100%;
	text-align: center;
	font-size:18px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}
    .img1
    {
    	height: 50%;
    }
	
	.about-text h2
	{   
		margin-top: 10px;
		font-size: 24px;
	}

   .about-text p
	{
		font-size: 16px;
	}
    .menu-banner1 h2
    {
    	margin-top: 50px;
    	font-size: 24px;
    }
   .menu-button
	{
		
		
		padding: 2px 20px;
		font-size: 18px;
		
	}

   
    #menu-mobile 
    {
    display:none;
  	height: 200px;
    width: 90%; 
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    }
     

   @media screen and (max-width: 305px)
{

.inner
{
	
	margin:0 auto;
	overflow: hidden;
	padding: 0 20px;
}

.border
{
	width: 160px;
	height: 5px;
	margin: 16px auto;
}

.col
{
	flex:100%;
	max-width: 100%;
	padding: 10px;
}

.testimonial
{
	padding: 15px;
}

.testimonial i
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.name
{
	font-size: 20px;
	text-transform:uppercase;
	margin: 10px 0; 
}


  .reservations img
  {
  	height: 350px;
  	width: 90%;
  	margin: 0 auto;

  }
  .reservations h2
  {
  	position: absolute;
  	margin-top: -95%;
  	font-size: 24px;
  	color: black;
  }
  .res-form
  {
  	margin-top: -90%;
  }
  #name, #date
  {
  	width: 70%;
  	margin-bottom: 5px;
  }
  #num, #size
  {
  	margin-left: 5px;
  	width: 38%;
  	margin-bottom: 5px;
  }
  #ph, #time
  {
  	margin-left: 5px;
  	width: 30%
  	margin-bottom:5px;

  }

 nav .logo
 {
 	float: left;
 	width: 45px;
 	height: 75px;
 	display: flex;
 	align-items: center;
 }
   #dish-button1
   {
   	top: 16%;
   	left: 41%;

   	padding: 0;
   	font-size: 14px;
   }

   
   #dish-button2
   {
   	top: 52%;
   	left: 43%;
  
   	padding: 0;
   	font-size: 12px;
   }
   #dish-button3
   {
   	top: 84%;
   	left: 40%;
   	padding: 0;
   	font-size: 14px;
   }
	.banner img
	{
      height: 320px;
	}

	h1
    {
	top: 42%;
	width: 100%;
	font-size:32px;
	}
 
 .hero-text
{   
	top: 55%;
	width: 100%;
	text-align: center;
	font-size:16px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}
    .menu-banner1 h2
    {
    	margin-top: 20px;
    	font-size: 25px;
    }

   .menu-banner2 img
   {
     width: 50%;
     height: 100px;
     
   }


    
     }
    }
