 .about-tag h2 
    {
    margin: 0 auto;
	font-family: 'Roboto Mono', sans-serif;
	color:#345161;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;
	width: 100%;	
	padding:5% 0 0 0;
}

.about-tag1 
{
	width: 100%;
	display: block;
	margin: 0 auto;
	font-size:18px;
	font-family: 'Roboto Mono', sans-serif;	
}


.team-container{   
	margin: 0 auto;
	height: 70%;
	position: relative;
}

.team img
{
    width:45%;
    height:500px;
    margin-top: 5%;
}

.team h3
{
	position: absolute;
	top: 10%;
	left: 50%;
	color: #345161;
    margin-right: 5%;
	text-align: left;
	font-size:36px;
	font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
   
}

.team p
{
	position: absolute;
    color: #345161;
	width: 55%;
	top: 40%;
	left: 45%;
	text-align: left;
  
	font-size:18px;
	font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
}


.testimonials{
	margin: 5% 0;
	color: #345161;
	text-align: center;
	font-family: 'Roboto Mono', sans-serif;

}

.inner
{
	margin:0 auto;
	overflow: hidden;
	padding: 0 20px;
}

.inner h2
{
	font-size: 40px;
	font-weight: lighter;
}

.inner p
{
	padding: 0;
	font-size: 25px;
}
.border
{
	width: 160px;
	height: 3px;
	background-color: #bd9d76;
	margin: 20px auto;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col
{
	flex:50%;
	max-width: 50%;
	padding: 10px;
}

.testimonial
{
	border:2px solid #bd9d76;
    padding: 20px 0 ;
}

.name
{   
	color: #bd9d76; 
	font-size: 20px;
	text-transform:uppercase;
	margin: 20px 0; 
}

.stars
{
	color: #6ab04c;
	margin-bottom: 20px;
}
.col p
{
	font-size: 18px;
}

/*events*/
.events p
{
	font-size: 36px;
   	width: 80%;
   	color:#345161; 
   	text-align: center;
   	margin:0 auto;
   	margin-top: 10%;
    padding-left: 15px; 
    font-family: 'Roboto Mono', sans-serif;
    border-right: 2px solid #bd9d76;
    border-left: 2px solid #bd9d76;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 5%;
	margin-top: 5%;
}

.col
{
	flex:50%;
	max-width: 50%;	
}

.card{
  border: 1px dotted #bd9d76;
  width: 100%;
  height: 100%;

}
.card-text h4
{
  
   margin: 0;
   text-align: center;
   font-size: 28px;
   color:#345161;
   font-family: 'Roboto Mono', sans-serif;
   font-weight: lighter;
}

.card-text p
{
   font-size: 20px;
   text-align: center;
   padding-left: 5px;
   color:#345161;
   font-family: 'Roboto mono',sans-serif;
}
.img3
{  
	display: block;
	margin:  auto;
	margin-top: 15px;
	width: 90%;
	height: 300px;
}
.event-form
{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-bottom: 5%; 

}

.event-form h2
{
	text-align: center;
	font-family: 'Roboto Mono', sans-serif;
	color: #345161;
}

#name1, #num1, #date1, #size1, #event-type, #email
{
	font-family: 'Roboto Mono', sans-serif;
    color: #345161;
	width: 40%;
	padding:10px 10px;
	margin-bottom: 10px;
	font-size: 18px;
    border:1px solid #345161;
    margin-left: 5%;
}


#event-info
{ 
	display: block;
	margin:0 auto;
	width: 90%;
	border:1px solid #345161;
}

#event-btn
{
	font-size: 14px;
	font-family: 'Roboto Mono', sans-serif;
	margin: 0 auto;
	display: block;
	border:2px solid #bd9d76;
	background-color: transparent;
	margin-top: 10px;
	width: 30%;
	text-transform: uppercase;
	border-radius: 10px;
	cursor: pointer;
}

#event-btn:hover
{
	background-color: #345161;
	transition: .5s ease-out;
	color: white;

}

@media screen and (max-width: 995px)
{
 .about-tag h2
 {
 	font-size: 36px;

 }

 .about-tag1{
 		font-size: 16px;
 }

.team h3
{
	
	font-size:32px;
 
}

.team p
{
	font-size:16px;
}

}


@media screen and (max-width: 850px)
{


.team p
{ 
	font-size:16px;
}

}


.inner h2
{
	font-size: 32px;
}

.inner p
{
	font-size: 20px;
}
.testimonial
{
	padding: 10px 0 ;
}

.name
{   
	font-size: 20px;
	margin: 10px 0; 
}

.stars
{
	margin-bottom: 10px;
}
.col p
{
	font-size: 16px;
}

.events p
{
	font-size: 32px;
}

@media screen and (max-width: 730px)
{

.about-tag h2 
    {
	font-size: 30px;
	width: 100%;	
}

.about-tag1 
{
	margin-top: 5px;
}

.team img
{   
height: 450px;
}

.team h3
{   
top: 5%;   
	font-size:28px;
}

.team p
{
    top: 35%;    
	font-size:13px;
}

.inner h2
{
	margin: 0;
	font-size: 28px;
}


.testimonial
{    
	padding: 10px;
}
.name 
{
	font-size: 18px;
}
.stars
{
	font-size: 14px;
}


.testimonial p
{
    
    font-size: 14px;
}

.events p
{
	font-size: 30px;
}

#name1, #num1, #email, #date1, #size1, #event-type
{
	font-size: 12px;
}

@media screen and (max-width: 570px)
{

.team img
{   
width: 90%;

display: block;
margin: 0 auto;
padding: 20px 0;
height: 450px;
}
.team h3
{   
	width: 100%;
     left: 0;
	top: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}


.team p
{   
	width: 100%;
	left:0;
	padding-top: 40px;
	display: block;
	margin: 0 auto;
	top: 120%;
	font-size: 16px;
}
.testimonials
{
	margin-top:70%;
}
.col
{
	flex: 100%;
	max-width: 100%;
}

.events p
{
	font-size: 28px;
}

.card-text p
{
	font-size: 18px;
}
@media screen and (max-width: 477px)
{

.about-tag h2 
    {
	font-size: 28px;
	width: 90%;
	text-align: left;
}


.team img
{   
display: flex;
width: 90%;

display: block;
margin: 0 auto;
padding:30px 20px 20px 20px;
height: 450px;
}

.team h3
{
  width: 100%;   
font-size:28px;

}

.team p
{
    width: 100%;
	font-size:13.5px;
	margin-top: 5%;

	margin: 0 auto;

}

.col
{
	flex: 100%;
	max-width: 100%;
}

.inner h2
{
  font-size: 28px;
   margin-top: 10%;
}

.inner p
{
	font-size: 16px;
}

.events p
{
	font-size: 24px;
}


#event-btn
{
	font-size: 12px;
}
}
@media screen and (max-width:385px)

{

.about-tag h2 
    {
	font-size: 24px;
	width: 90%;
}


.team img
{   
height: 350px;
}

.team h3
{
font-size:24px;
}

.team p
{
	font-size: 13px;
}

.inner h2
{
  font-size: 24px;
   margin-top: 25%;
}

.inner p
{
	font-size: 14px;
}
.col p
{
	font-size: 13px;
	padding: 0;
}
}

@media screen and (max-width: 320px)
{
	.about-tag h2
	{
		font-size: 20px;
	}

	.about-tag1 
	{
		font-size: 14px;
	}

	.team img
	{
		height: 250px;
	}

	.team h3
	{

		font-size: 20px;
	}
	.team p
	{
		padding: 30px 10px;
	}

	.inner h2
	{
		margin-top: 50%;
		font-size: 20px;
	}
	.inner p
	{
		padding: 10px 0;
		font-size:14px;
	}


.testimonial
{
	border:2px solid #bd9d76;
    padding:0 ;
}

.col
{
	padding: 5px;
}


	.testimonial h3
	{
		font-size: 16px;
	}


	.testimonial p
	{
		font-size: 13px;
	}
}
