*, *::before, *::after
{
	box-sizing: border-box;
}
 body
 {
 	padding: 0;
 	margin: 0;
 }


/*navigation*/ 
 nav
 {
 	position: fixed;
 	z-index: 10;
 	left: 0;
 	right: 0;
 	top: 0;
 	font-family: 'Roboto',sans-serif;
 	background-color: white;
 	padding: 1% 5%;
 }

 nav .logo
 {
 	float: left;
 	width: 80px;
 	height: 120px;
 	display: flex;
 	align-items: center;
 }

 nav .links
 {
 	float: right;
 	padding: 0;
 	margin-top: 40px;
 	width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 nav .links li
 {
 	list-style: none;
 	font-weight: normal;
 }

 nav .links a
 {
 	display: block;
 	padding: .5em;
 	font-size: 17px;
 	color: #bd9d76;
 	text-decoration: none;
 }
/*toggle bar*/

#toggle
{
	position: absolute;
	top: -100px;
}
nav .icon-burger
{
   display:none;	
   position: absolute;
   right: 7%;
   top: 50%;
   transform: translateY(-50%);
}
nav .icon-burger .line
{
  width: 30px;
  height: 3px;
  background-color: #bd9d76;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

/*banner*/


.banner{   
	margin: 0 auto;
	position: relative ;

}

.banner img
{
    width:90%;
    display: block;
    margin-right: 5%;
    margin-left: 5%;
    height: 700px;
}

.hero-text
{   
	color: #bd9d76;
	position: absolute;
	top: 55%;
	left: 15px;
	width: 100%;
	text-align: center;
	font-size:26px;
	font-weight: bold;
	font-family: 'Roboto Mono', sans-serif;
}

.banner h1
{
	color: #bd9d76;
	position: absolute;
	top: 45%;
	left: 8px;
	width: 100%;
	text-align: center;
	font-size:50px;
	font-weight: bold;
	font-family: 'Roboto Mono', sans-serif;
}

span hr
{
   width: 30%;
   background-color: #bd9d76;

}


/*about container*/
.about-container
{
	width: 100%;
	height: 400px;
}

.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;
	color:#345161;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
	padding-top: 10%;
}
 .about-text p
 {
 	font-family: 'Roboto Mono', sans-serif;
	color: #345161;
	font-size: 20px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
 }

 .about-button 
 {
 	width: 50%;	
	margin-left: 5%;
    border:1px solid rgba(189, 157, 118,.5) ;
	padding: 5px;
	color: #345161;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    background-color: rgba(189, 157, 118,.5) ;

 }
.about-button:hover
{
	background-color: transparent;
	transition: .2s ease-in-out;
	border-color: #bd9d76;
} 

 
.img1 
{
	width: 50%;
	height: 500px;
	float: right;
	margin-right: 5%;
}



/*menu banner*/
.menu-container
{
	margin:0 auto;
	width: 100%;

}

.menu-banner1 
{
   text-align: center;
   align-items: center;
   
}

.menu-banner1 h2
{  
   font-family: 'Roboto Mono', sans-serif;
	color: #345161;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;
	margin-top: 12%;		
}
.menu-banner2
{
	display: block;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    position: relative;
}

.svg1
{
margin: 0 10% 0 10%;
}
.menu-button
{
	background-color: rgba(189, 157, 118,.5);
	border:1px solid rgba(189, 157, 118,.5) ;
	padding: 2px 30px;
	font-size: 20px;
	width: 500px;
	margin-top: 20px;
	color: #345161;
	text-decoration: none;
    font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

.menu-button:hover
{	
	background-color: transparent;
	transition: .2s ease-in-out;
	border-color: #F2D0A4;
} 

.dish-button1, .dish-button2, .dish-button3 
{
	background-color: rgba(250, 249, 249,.8);
	border:1px solid rgba(250, 249, 249,.8) ;
	font-size: 25px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	color: #345161;
}
.dish-button1
{
	position: absolute;
	top: 58%;
	left: 13%;
}

.dish-button2
{
	position: absolute;
	top: 56%;
	left: 47.5%;
}

.dish-button3
{
	position: absolute;
	top: 57%;
	left: 80%;
}

#menu-mobile
{
	display: none;
}


/*about container*/
.blog-container
{
	width: 100%;
	height: auto;
}
.blog-text
{
	display: block;
	float: right;
	margin-top: 14%;
	margin-right: 5%;
	padding: 10px;
	width: 40%;
}

.blog-text h2
{
   font-size: 40px;
   color:  #345161;
   font-family: 'Roboto Mono',sans-serif;
   font-weight: lighter;
}

.blog-text p
{
   font-size: 20px;
   color:  #345161;
   font-family: 'Roboto Mono',sans-serif;
   font-weight: lighter;
}
.blog-button
{
   font-size: 16px;
   color:  #345161;
   font-family: 'Roboto Mono',sans-serif;
   font-weight: lighter;
   text-transform: uppercase;
   background-color: rgba(189, 157, 118,.5);
   border:1px solid rgba(189, 157, 118,.5);
   text-decoration: none;
   padding: 2px 15px;
}

.blog-button:hover
{
	background-color: transparent;
	transition: .2s ease-in-out;
	border-color: #bd9d76;
} 

 
.img2 
{
	width: 50%;
	height: 500px;
    margin-left: 5%;
    text-align: center;
    margin-top: 5%;
}
.reservations 
{
	display: block;
	margin: 0 auto;
}

.reservations img
{
	position: relative;
	height: 500px;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.reservations h2
{   
	color: white;
	position: absolute;
	margin-top: -30%;
	margin-left: 38%;
	font-size: 45px;
	font-weight: lighter;
	font-family: 'Roboto mono', sans-serif;
	
}

.res-form
{
	color: white;
    text-align: left;
   position: absolute;
   margin-top: -30%;
   margin-left: 22%;
   padding-top:7%;

}

#name, #num, #date, #size
{
	  font-family: 'Roboto Mono', sans-serif;
    color: #345161;
	width: 30%;
	padding:10px 2px;
	margin-bottom: 10px;
	font-size: 18px;
    border:none;
}


#ph, #time
{
	  font-family: 'Roboto Mono', sans-serif;
	width: 10%;
	padding: 10px 2px;
	border:none;
	font-size: 16px;
	color: #345161;
	margin-left: 3%;
}
#book
{
	  font-family: 'Roboto Mono', sans-serif;
	margin-left: 28%;
	font-size: 24px;
	padding: 5px 35px;
	border:none;
	border-radius: 5px;
	color: #345161;
	font-weight: lighter;
	background-color: rgba(196, 160, 130,.7);
}

.footer-container
{
	width: 100%;
	background-color: black;
	color: white;
	display: block;
	margin: 0 auto;
    display: flex;
}

.footer1
{
  	padding: 20px 0; 
	margin-left: 5%;
	font-family: 'Roboto Mono', sans-serif;

}
.footer2
{
	padding: 20px 0; 
	margin-left: 5%;
}
#email
{
  padding:5px 10px;
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
}

#submit
{
	margin-top: 5%;
	background-color: rgba(196, 160, 130,.8);
	font-family: 'Roboto mono', sans-serif;
	color: white;
}
.footer1 i
{
	font-size: 18px;
	margin-top: 10%;
    width: 10%;
}
.footer3
{
  	padding: 20px 0; 
	margin-left: 5%;
}
.footer4
{	
  	padding: 20px 0; 
	margin-left: 5%;
	font-family: 'Roboto Mono', sans-serif;

}
	

@media screen and (max-width: 1077px)
{
  .menu-container img
  {
    width: 250px;
  }

  .reservations h2
  {
  	margin-top: -35%;
  }
  .res-form
  {
  	margin-top: -35%;
  }
  .dish-button1
{
	position: absolute;
	top: 50%;
	left: 12%;
}

.dish-button2
{
	position: absolute;
	top: 50%;
	left: 47%;
}

.dish-button3
{
	position: absolute;
	top: 49%;
	left: 79%;
}

}

@media screen and (max-width: 995px)
{

 nav .logo
 {
 	float: left;
 	width: 70px;
 	height: 90px;
 	display: flex;
 	align-items: center;
 }   
.img1 
{
	width: 50%;
	height: 450px;
	float: right;
	margin-right: 5%;
}
.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;
	font-size: 38px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
}

 .about-button
 {
 	width: 50%;	
	margin-left: 5%;
	border:2px solid rgba(242, 208, 164,.5);
	padding: 5px;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    background-color: rgba(242, 208, 164,.7);

 }

 .menu-banner1 h2
{  
   font-family: 'Roboto Mono', sans-serif;
	
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
   	align-items: center;	
   margin-top: 10%; 
}

.menu-container img
{
	width: 200px;
}
.dish-button1
{
	position: absolute;
	top: 50%;
	left: 15%;
}

.dish-button2
{
	position: absolute;
	top: 52%;
	left: 46.5%;
}

.dish-button3
{
	position: absolute;
	top: 48%;
	left: 76%;
}

	nav .links
	{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.7);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}

	nav .links a
	{
		font-size: 20px;
	}

   	nav :checked ~ .links
	{
		bottom: 0;
	}

     nav .icon-burger
     {
   	    display: block;
     }
     
      nav :checked ~ .icon-burger .line:nth-child(1)
     {
   	   transform: translateY(10px) rotate(225deg);
     }
     
      nav :checked ~ .icon-burger .line:nth-child(3)
     {
   	   transform: translateY(-10px) rotate(-225deg);
     }
      
     nav :checked ~ .icon-burger .line:nth-child(2);
     {
   	   opacity: 0;     
   	}  
     

	.banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:90%;
	    height: 600px;
	}

    h1
    {

    color: white;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size:50px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
    
    .hero-text
   {   
	color: white;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size:35px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 32px;
	width: 160px;
	position: absolute;
	top: 60%;
	left: 40%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

.img2 
{
	height: 450px;
}
.blog-text
{
	margin-top: 10%;
}
.blog-text h2
{
	font-size: 38px;
}

@media screen and (max-width: 860px)
{
	.reservations h2
  {
  	margin-top: -40%;
  	margin-left: 35%;
  }
  .res-form
  {
  	margin-top: -39%;
  }
  #name, #num, #date, #size
{
	font-size: 16px;   
}


#ph, #time
{
	  
	font-size: 14px;
}

  #book
  {
  	margin-left: 23%;
  }
  
	.dish-button1
{
	position: absolute;
	top: 50%;
	left: 11%;
}

.dish-button2
{
	position: absolute;
	top: 52%;
	left: 46%;
}

.dish-button3
{
	position: absolute;
	top: 50%;
	left: 78%;
}

}
@media screen and (max-width: 755px)
{ .reservations img
	{
		height:450px;
	}
	.reservations h2
  {
  	margin-top: -50%;
  	margin-left: 33%;
  	font-size: 36px;
  }
  .res-form
  {
  	margin-top: -48%;
  }
  #num, #name, #size
  {
  	font-size: 14px;
  }
  #book
  {
  	margin-left: 25%;
    padding: 5px 10px;
  	font-size: 20px;
  }
 nav .logo
 {
 	float: left;
 	width: 60px;
 	height: 80px;
 	display: flex;
 	align-items: center;
 }
	.dish-button1, .dish-button2,.dish-button3
	{
		font-size: 18px;
	}
	.dish-button1
{
	position: absolute;
	top: 52%;
	left: 15%;
}

.dish-button2
{
	position: absolute;
	top: 54%;
	left: 46.5%;
}

.dish-button3
{
	position: absolute;
	top: 51%;
	left: 76%;
}


.hero-text
{
	font-size: 32px;
}
.img1 
{
	width: 50%;
	height: 350px;
	float: right;
	margin-right: 5%;
}

.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;

	font-size: 28px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
}

.about-text p
{
	font-size: 18px;
}

 .about-button
 {
 	width: 50%;	
	margin-left: 5%;
	border:2px solid rgba(242, 208, 164,.5);
	padding: 5px;
	
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: lighter;
    background-color: rgba(242, 208, 164,.7);

 }
.menu-banner1 h2
{  
   font-family: 'Roboto Mono', sans-serif;
	
	font-size: 36px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;	
	margin-top: 20px;
 	
}

	.menu-banner2 img
	{
		margin-top: 10px;
		width: 150px;
	}
}

.img2 
{
	height: 350px;
}
.blog-text h2
{
	font-size: 28px;
}
.blog-text p
{
	font-size: 18px;
}
.blog-button
{
	font-size: 14px;
}

@media screen and (max-width: 650px)
{
	.reservations img
	{
		width: 100%;

	}
	.banner img
	{
		width: 100%;
	}
}
 @media screen and (max-width: 580px)
 
 {

 nav .logo
 {
 	float: left;
 	width: 55px;
 	height: 80px;
 	display: flex;
 	align-items: center;
 }

.dish-button1
{
	position: absolute;
	top: 50%;
	left: 12%;
}

.dish-button2
{
	position: absolute;
	top: 51%;
	left: 46.5%;
	padding: 0 2px;
}

.dish-button3
{
	position: absolute;
	top: 50%;
	left: 75%;
}

.menu-button
{
	
	
	padding: 2px 30px;
	font-size: 20px;
	
	text-decoration: none;
    font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
	margin-top:50%;
}
.menu-banner2 img
{
	width: 120px;
}

.menu-banner1 h2
{

   font-family: 'Roboto Mono', sans-serif;
	
	font-size: 28px;
    line-height: 98%;
	font-weight: lighter;
	text-align: center;
	align-items: center;
	margin-top:-10%;
}

       
.img1 
{
	width: 50%;
	height: 300px;
	float: right;
	margin-right: 5%;
}

.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;
		font-size: 20px;
    line-height: 95%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
	margin-top: 5%;
}
.about-text p
 {
 	font-family: 'Roboto Mono', sans-serif;
	
	font-size: 16px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 5%;
 }

 .about-button
 {
 	width: 50%;	
    margin-left: 5%;
	
	padding: 3px;
	
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    

 }

   .banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:90%;
	    height: 470px;
	}

    .banner h1
    {

    color: white;
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	font-size:40px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
    
    .hero-text
  {   
	color: white;
	position: absolute;
	top: 54%;
	width: 100%;
	text-align: center;
	font-size:24px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
   }

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 32px;
	width: 160px;
	position: absolute;
	top: 60%;
	left: 35%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}
	

.img2 
{
	height: 300px;
}
.blog-text h2
{
	font-size: 20px;
}
.blog-text p
{
	font-size: 16px;
}
.blog-button
{
	font-size: 12px;
 }   
}

@media screen and (max-width: 484px)
 {

 nav .logo
 {
 	float: left;
 	width: 50px;
 	height: 75px;
 	display: flex;
 	margin-top: 5px;
 	align-items: center;
 }
 	.dish-button1
{
	position: absolute;
	top: 55%;
	left: 13.5%;
}

.dish-button2
{
	position: absolute;
	top: 56%;
	left: 46%;
}

.dish-button3
{
	position: absolute;
	top: 53%;
	left: 76.5%;
}
.dish-button1, .dish-button2,.dish-button3
{
	padding: 0 2px;
	font-size: 16px;
}
  .about-container
  {
  	display: flex;
  	flex-direction: column-reverse;
  	width: 100%;
  }

  .about-text 
  {
  	height: 100%;
  	text-align: center;
  }
  .about-text h2
  {
  	font-size: 28px;
  	width: 90%;
  	display: block;
  	margin: 0 auto;
  	text-align: center;
  	margin-top: 20%;
  }
   .about-text p
   {
   	font-size: 18px;
   	width: 100%;
   	text-align: center;
   	display: block;
   	margin-left:auto;
   	margin-right: auto;
   }

   .about-button
   {
   	font-size: 12px;
    margin: 0 auto;

   }
  
  .img1
  {
  	height: 200px;
    width: 95%; 
    padding-top: 20px;
    margin-left: 5%;
    }

    .menu-banner1 h2
    {
     margin-top: 10%;
    }

   .menu-banner2 img
   {
   	margin-top: 20px;
     width: 100px;
   }
  
.banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:90%;
	    height: 380px;
	}
 .banner h1
    {

    color: white;
	position: absolute;
	top: 42%;
	width: 100%;
	text-align: center;
	font-size:36px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
 
 .hero-text
{   
	color: white;
	position: absolute;
	top: 52%;
	width: 100%;
	text-align: center;
	font-size:20px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 28px;
	width: 110px;
	position: absolute;
	top: 70%;
	left: 33.5%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

   .blog-container
   {
   	display: flex;
   	flex-direction: column;
   }	

   .blog-text
   {
   	width: 100%;
   	text-align: center;
   	margin: 0 10px;
   }
   .img2
   {
   	height: 200px;
    width: 95%;
    align-items: center;
   }	
   .blog-text h2
   {
   	font-size: 30px;
   	text-align: center;
   	padding-left: 10px;
   }
   .blog-text p
   {
   	font-size: 18px;
   	text-align: left;
   }
 }   
@media screen and (max-width: 385px)
{
  .dish-button1
{
	position: absolute;
	top: 18%;
	left: 43%;
}

.dish-button2
{
	position: absolute;
	top: 53.5%;
	left: 44.5%;
}

.dish-button3
{
	position: absolute;
	top: 85%;
	left: 43%;
}
.dish-button1, .dish-button2,.dish-button3
{
	padding: 0 2px;
	font-size: 20px;
}
	.banner img
	{
      height: 350px;
	}

	h1
    {
	top: 42%;
	width: 100%;
	font-size:36px;
	}
 
 .hero-text
{   
	top: 55%;
	width: 100%;
	text-align: center;
	font-size:18px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}
    .img1
    {
    	height: 50%;
    }
	
	.about-text h2
	{   
		margin-top: 10px;
		font-size: 24px;
	}

   .about-text p
	{
		font-size: 16px;
	}
    .menu-banner1 h2
    {
    	margin-top: 50px;
    	font-size: 24px;
    }

   .menu-banner2 img
   {
     width: 50%;
     height: 150px;
     margin-top: 40px;
   }

   .menu-button
	{
		
		
		padding: 2px 20px;
		font-size: 18px;
		
	}

   
    #menu-mobile 
    {
    display:none;
  	height: 200px;
    width: 90%; 
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
    }
     

   @media screen and (max-width: 305px)
{ 

 nav .logo
 {
 	float: left;
 	width: 45px;
 	height: 75px;
 	display: flex;
 	align-items: center;
 }

     	.dish-button1
{
	position: absolute;
	top: 20%;
	left: 43%;
}

.dish-button2
{
	position: absolute;
	top: 54.5%;
	left: 44.5%;
}

.dish-button3
{
	position: absolute;
	top: 85.5%;
	left: 42%;
}
.dish-button1, .dish-button2,.dish-button3
{
	padding: 0 2px;
	font-size: 14px;
}
	.banner img
	{
      height: 320px;
	}

	h1
    {
	top: 42%;
	width: 100%;
	font-size:32px;
	}
 
 .hero-text
{   
	top: 55%;
	width: 100%;
	text-align: center;
	font-size:16px;
	font-weight: lighter;
	font-family: 'Roboto', sans-serif;
}
    .menu-banner1 h2
    {
    	margin-top: 20px;
    	font-size: 25px;
    }

   .menu-banner2 img
   {
     width: 50%;
     height: 100px;
     
   }


    
     }
    }