*, *::before, *::after
{
	box-sizing: border-box;
}
 body
 {
 	padding: 0;
 	margin: 0;
 }


/*navigation*/ 
 nav
 {
 	position: fixed;
 	z-index: 10;
 	left: 0;
 	right: 0;
 	top: 0;
 	font-family: 'Roboto',sans-serif;
 	background-color: white;
 	padding: 1% 5%;
 }

 nav .logo
 {
 	float: left;
 	width: 100px;
 	display: flex;
 	align-items: center;

 }

 nav .links
 {
 	float: right;
 	padding: 0;
 	margin-top: 30px;
 	width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 nav .links li
 {
 	list-style: none;
 	font-weight: bold;
 }

 nav .links a
 {
 	display: block;
 	padding: .5em;
 	font-size: 17px;
 	color: #F2D0A4;
 	text-decoration: none;
 }
/*toggle bar*/

#toggle
{
	position: absolute;
	top: -100px;
}
nav .icon-burger
{
   display:none;	
   position: absolute;
   right: 7%;
   top: 50%;
   transform: translateY(-50%);
}
nav .icon-burger .line
{
  width: 30px;
  height: 3px;
  background-color: #E1C479;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

/*banner*/


.banner{   
	margin: 0 auto;
	position: relative ;
}

.banner img
{
    width:100%;
    height: 700px;
}

.hero-text
{   
	color: white;
	position: absolute;
	top: 62%;
	width: 100%;
	text-align: center;
	font-size:30px;
	font-weight: normal;
	font-family: 'Quantico', sans-serif;
}

h1
{
	color: white;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size:60px;
	font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
}

span hr
{
   width: 30%;

}


/*about container*/
.about-container
{
	width: 100%;
	height: 360px;
	position: relative sticky;
}

.about-text h2
{
	font-family: 'Roboto Mono', sans-serif;
	color: #545E75;
	font-size: 45px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 8%;
    margin-top: 15%;

}
 .about-text p
 {
 	font-family: 'Roboto Mono', sans-serif;
	color: #545E75;
	font-size: 20px;
    line-height: 98%;
	font-weight: lighter;
	text-align: left;
	align-items: center;
	width: 50%;	
	margin-left: 8%;
 }

 .about-button
 {
 	width: 50%;	
	margin-left: 8%;
	border:2px solid rgba(242, 208, 164,.5);
	padding: 5px;
	color: #545E75;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: lighter;
    background-color: rgba(242, 208, 164,.7);

 }
.about-button:hover
{
	font-weight: bold;
	background-color: transparent;
	transition: .2s ease-in-out;
	border-color: #F2D0A4;
} 

 
.img1 
{
	width: 50%;
	height: 500px;
	float: right;
	margin-top: -10%;
	margin-right: 5%;
}



/*menu banner*/
.menu-container
{
	margin:0 auto;
	width: 100%;
}

.menu-banner 
{
   text-align: center;
   align-items: center;
   font-size: 24px;	
}


.menu-button
{
	background-color: rgba(242, 208, 164,.5);
	border:1px solid rgba(242, 208, 164,.5) ;
	padding: 2px 30px;
	font-size: 20px;
	width: 500px;
	color: #545E75;
	text-decoration: none;
    font-weight: lighter;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

.menu-button:hover
{	
	font-weight: bold;
	background-color: transparent;
	transition: .2s ease-in-out;
	border-color: #F2D0A4;
} 


@media screen and (max-width: 995px)
{
	nav .logo
	{
		float: none;
		width: 80px;
		justify-content: center;
	}
	nav .links
	{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.7);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}

	nav .links a
	{
		font-size: 20px;
	}

   	nav :checked ~ .links
	{
		bottom: 0;
	}

     nav .icon-burger
     {
   	    display: block;
     }
     
      nav :checked ~ .icon-burger .line:nth-child(1)
     {
   	   transform: translateY(10px) rotate(225deg);
     }
     
      nav :checked ~ .icon-burger .line:nth-child(3)
     {
   	   transform: translateY(-10px) rotate(-225deg);
     }
      
     nav :checked ~ .icon-burger .line:nth-child(2);
     {
   	   opacity: 0;     
   	}  
     

	.banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:100%;
	    height: 600px;
	}

    h1
    {

    color: white;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size:50px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
    
    .hero-text
   {   
	color: white;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size:35px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 32px;
	width: 160px;
	position: absolute;
	top: 60%;
	left: 40%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}

 @media screen and (max-width: 560px)
 {
   .img1 img
   {
   	viewBox:0 0 300 50;
   }
   .banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:100%;
	    height: 500px;
	}

    h1
    {

    color: white;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size:50px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
    
    .hero-text
  {   
	color: white;
	position: absolute;
	top: 52%;
	width: 100%;
	text-align: center;
	font-size:25px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
   }

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 32px;
	width: 160px;
	position: absolute;
	top: 60%;
	left: 35%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}
	
 }   

@media screen and (max-width: 420px)
 {

 .banner{   
		margin: 0 auto;
		position: relative;
	}

	.banner img
	{
	    width:100%;
	    height: 400px;
	}
h1
    {

    color: white;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size:42px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;

    }
 
 .hero-text
{   
	color: white;
	position: absolute;
	top: 54%;
	width: 100%;
	text-align: center;
	font-size:25px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

.button
{
	background-color: rgba(16,75,75,.6);
	outline: none;
	border:1px;
	border-radius:20px;
	padding: 3px;
	font-size: 28px;
	width: 110px;
	position: absolute;
	top: 70%;
	left: 33.5%;
	color: white;
	text-decoration: none;
	font-family: 'Roboto Mono', sans-serif;
	text-align: center;
}
	
 }   


 }

}